*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(225, 209, 187);
}

.toggle{
  position: fixed;
  top: 15px;
  background-color: aliceblue;
  width: 50px;
  height: 50px;
  left: calc(50% - 550px);
  border-radius: 10px;
}

.ship-area{
  position: fixed;
  height: 80px;
  width: 900px;
  background-color: rgb(121, 76, 76);
  top: 0;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.ship-area > div{
  background-color: white;
  height: 45px;
  width: 90px;
}

.playground{
  width: 1160px;
  height: 580px;
  background-color: gainsboro;
  margin-top: 9%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.playground > *{
  width: 100%;
  height: 100%;
}

.player-side{
  background-color: cadetblue;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.player-side > div{
  height: 60px;
  width: 60px;
  margin: 5px;
  background-color: white;
}

.player-side > .water{
  background-color: rgb(143, 233, 203);
}

.player-side > .patrolBoat{
  background: linear-gradient(rgb(247, 234, 137), rgb(169, 133, 213));
}

.player-side > .carrier{
  background: linear-gradient(rgb(119, 87, 87), rgb(44, 44, 67));
}

.player-side > .battleship{
  background: linear-gradient(rgb(188, 154, 126), rgb(84, 84, 183));
}

.player-side > .destroyer{
  background: linear-gradient(rgb(245, 165, 94), rgb(123, 87, 150));
}

.player-side > .submarine{
  background: linear-gradient(rgb(108, 52, 52), rgb(153, 153, 236));
}

.player-side > .hit{
  background: none;
  background-color: red;
}

.computer-side{
  padding: 10px;
  background-color: rgb(201, 109, 76);
  display: flex;
  flex-wrap: wrap;
}

.computer-side > div{
  height: 60px;
  width: 60px;
  margin: 5px;
  background-color: rgb(246, 243, 243);
}

.computer-side > div:hover{
  cursor: crosshair;
}

.computer-side > .hit:hover{
  cursor: crosshair;
}

.computer-side > .hit{
  background-color: red;
  scale: 0.90;
}


.selected{
  background-color: orange !important;
}


.computer-side > .patrolBoat{
  background-color:rgb(84, 84, 183);
}

.computer-side > .carrier{
  background-color: green;
}

.computer-side > .battleship{
  background-color: orange;
}

.computer-side > .destroyer{
  background-color:rgb(143, 233, 203);
}

.computer-side > .submarine{
  background-color: black;
}

.miss{
  background-color: rgba(179, 170, 170, 0.874) !important;
}

.sunk{
  opacity: 0.5 !important;
  scale: 0.5 !important;
}